@model List<ProductListComponentViewModel>

	@*buton ekleme*@
	<a class="btn btn-outline-primary" asp-controller="products" asp-action="index">Urunlere git</a>
	<table class="table table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Aciklama</th>

	</thead>
	<tbody>
		@foreach (var item in Model)
		{
					<tr>

						<td>@item.Name</td>
						<td>@item.Description</td>
					</tr>
		}



	</tbody>

</table>
