@{
	ViewData["Title"] = "ExampleController Index sayfasi";
	Layout = "ExampleLayout";
}
@section header
{
	<p>Bu kodlar headerin hemen altina eklenice</p>
}
@section footer
{
<p>Bu kodlar footer in hemen altina eklenicek</p>
}
<div>Bu sayfa example controller >Index sayfasi</div>